body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #49c1da;
}

.mainSection::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url(../Images/footballField.jpg);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -ms-background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-group {
    margin: 20px;
    width: 80%;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
    -ms-transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
}

.col-auto .btn-primary {
    color: #fff;
    background-color: #00b3db;
}

#radioContainer {
    margin-top: 35px;
    margin-bottom: 35px;
}

#firstDiv {
    margin: 30px;
}

#secondDiv {
    margin: 30px;
}

#winFirst {
    margin: 20px;
}

#draw {
    margin: 20px;
}

#winSecond {
    margin: 20px;
}