body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border-top: 1px solid #000 !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.comment {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.head {
    margin-bottom: 10px;
}

.user {
    margin-right: 10px;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    header .container {
        position: relative;
        z-index: 2;
    }

    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

        header video {
            display: none;
        }
}

.overlay {
    background-color: white;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url(../Images/kamchatka_place.jpg);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -ms-background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-10 {
    background-color: white;
}

.btn {
    margin-bottom: 5px;
}

#comments {
    -ms-border-radius: 25px;
    border-radius: 25px;
    background-color: white;
}

.form-control {
    min-width: 500px;
    max-width: 100%;
    min-height: 50px;
    height: 100%;
    width: 100%;
}

.coments-text {
    margin-bottom: 5px;
}

.img-fluid {
    max-width: 20%;
    height: auto;
}